# Prerequisites
*.d

#fonction non demandées
# https://easybear.notion.site/Correction-Born2BeRoot-d89bf15a3d8444d3afa1c991e58cd3a0
# https://velog.io/@tak_4242/Born2beroot-peertopeer-evaluation
# https://githubmate.com/repo/GuillaumeOz/Born2beroot

# Object files
*.o
*.ko
*.obj
*.elf
so_long

# Linker output
*.ilk
*.map
*.exp
*.vscode

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.swp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
